@inherits ProductsByCategoryBase
@page "/ProductsByCategory/{CategoryId:int}"

@if(Products == null && ErrorMessage == null)
{
    <DisplaySpinner />
} else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage" />
} else {
    <h3> Products (@CategoryName)</h3>
    <div>
        @if(Products.Count() > 0) {
        <DisplayProducts Products = "@Products"></DisplayProducts>
    }
    </div>
    
}

